* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}
/**Estilos no menu****/
.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    font-weight: none;
    text-decoration: none;
    border-radius: 5px;
}

.main-nav {
    text-align: center;
    font-size: 1.2em;   
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
 
.main-nav a:hover {
    background-color:rgba(255, 255, 255, .2);
 }

.main-nav li {
    padding: 0 5%;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url(../../Imagens/dkback.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    
}

.title-name {
    text-align: center;
    margin: 0;
    font-size:7em;
    font-family: Lucida Sans-serif;
    font-weight: lighter;
    color: white;
}

.site-back {
    border-top: 1px solid ;
    background-color: rgb(0, 0, 0);
}

.fast-travel-title {
    color: white;
    font-family: Lucida Sans-serif;
    font-weight: lighter;
    font-size: 3em;
    padding-left: 20px;
}

.fast ul {
    
    list-style-image: url(../Imagens/bonfire.jpg);
    list-style-position: inside;

    
}

.fast li {
    padding: 5px;  
}

.fast a {
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-family: Lucida Sans-serif;
    font-size: 1.2em;
}

.fast a:hover {
    color: rgb(247, 59, 12);
}

.fast-travel {
    padding-top: 5em;
}



