body {font-family: Arial, Helvetica, sans-serif; background-color: rgba(235, 176, 68, 0.616); padding: auto;}
h1, h2, h3 { color: brown;}
fieldset {background-color: rgb(209, 178, 74); font-size: larger;}
legend {font-size: large; color: rgb(53, 26, 4); border: rgb(53, 26, 4);)