* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
  color: #333;
}

html {
  font-size: 62.5%;
}

body, form, input, button {
  font: 400 1.6rem 'Roboto', sans-serif;
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.main-form {
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.main-form form {
  padding: 4rem 8rem;
  border:solid 1px rgba(0, 0, 0, 0.3);
  width: 80%;
  align-items: baseline;
  text-align: justify;
}

.main-form form input {
  border-color: rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 30px;
  margin-top: 10px;
  border-radius: 3%;
}

button {
  border: none;
  padding: 10px 8px;
  background: #333;
  color: #fff;
  width: 120px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #555;
}
