body {font-family: Arial, Helvetica, sans-serif; background-color: rgba(235, 176, 68, 0.616); padding: auto;}
h1, h2, h3 { color: brown;}
ul {font-style:initial; font-size:large; color: rgb(129, 6, 6);}
ul a {color: blue;}

