@font-face {
    font-family: Century;
    src: url('font/GOTHIC.TTF');
}

body{
    font-family: Century;
    background: rgb(10, 17, 56);
    color: #fff;
    padding:20px;
}

.pagina{
    width:100%;
    overflow-x:auto;
    height:100%;
    
}

.linha{
    width:auto;
    padding:5px;
    height:110px;
    display:table;
    font-weight: bolder;
}

.tile {
    height: 100px;
    width: 100px;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px;
}

.tileLargo{
    width: 210px;
    
}

.amarelo {
    background: #df9205;
}

.vermelho {
    background: #CD0000;
}

.azul {
    background: #4682B4;
}

.verde {
    background: #2E8B57;
}

.tile img{
    width:56px;
    margin:20px 22px 0 22px   
}

.tileLargo img {
    margin:20px 77px 0 77px
}

.selecionado:hover{
    transform: scale(1.07);
    cursor: pointer;
    background-color: rgb(145, 26, 168);
    
}


